<div>
    <img class="modal-close-button" src="images/close.png" data-ng-click="onCloseButtonClick()" />
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-ng-click="onChoice1ButtonClick()" data-ng-disabled="disableChoice1" >{{labelChoice1}}</button>
        <button class="btn btn-default" ng-click="onChoice2ButtonClick()" data-ng-disabled="disableChoice2" >{{labelChoice2}}</button>
        <button class="btn btn-default" data-ng-click="onCloseButtonClick()" translate>CANCEL</button>
    </div>
</div>