<div class="detailedDeviceModal">
    <img class="modal-close-button" src="images/close.png" data-ng-click="close()" />
    <div class="modal-header">
        <h3 class="modal-title" translate>
            detailed-device-modal-title
        </h3>
    </div>
    <div class="modal-body">
        <div class="vertical-fill">
            <product-item product="productPack" context="'readonly'"></product-item>
        </div>
    </div>
    <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="close()" translate>
                dialog-warning-ok
            </button>
    </div>
</div>
